
.dimmed {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
h1
{
  position: relative;
  font-size: 350px;
  margin-top: 150;
  margin-left: 150px;

  font-family: 'Alegreya Sans', sans-serif;

  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}
h3
{
  margin-top:  -180px ;
  margin-left: 580px;

  font-family: 'Alegreya Sans', sans-serif;
  color: #0D4F8B;
}
a:link
{
  text-decoration: none;
color: #000000;
}
a:visited
{
  text-decoration: none;
color: #A0A0A0;
}
a:hover
{

  text-decoration: none;
  color: #BFBFBF;
}
.item
{
  -webkit-animation-duration: 2s;

}
.procceed
{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
.move
{
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
   -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
   -webkit-animation-delay: 3s;
   animation-name: example;
   animation-duration: 4s;
}


@-webkit-keyframes example
{
    0%   {left:150px; top:150px; font-size: 350px;}

    100% {left:550px; top:0px; font-size: 50px;}
}
